* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
:root {
  --main-head-color: #d8d2d2;
  --main-nav-color: #bbb9b5;
  --main-body-color: #eeedeb;
  --main-blue-color: #01063d;
  --main-blueHover-color: rgba(18, 18, 127, 0.855);
  --main-label-color: rgba(90, 86, 86, 0.647);
  --main-white-color: rgb(255, 255, 255);
  --main-btn_sec-color: #0012fe;
}
body {
  background-color: var(--main-body-color);
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Loading */
.sweet-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles the header element */
header {
  display: flex;
  height: 70px;
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  background-color: var(--main-head-color);
}
.loggedUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loggedUser .loggedPic {
  scale: 2;
  padding-right: 10px;
}
.loggedUser .loggedName {
  width: 120px;
  text-align: center;
  overflow-wrap: break-word;
}
.navber1 {
  position: relative;
  top: 70px;
  width: 100%;
  background-color: var(--main-nav-color);
  margin-bottom: 70px;
}
.navber1 a {
  text-decoration: none;
}
.active {
  background-color: var(--main-blue-color);
}
.logo {
  margin-left: 25px;
}
/* Styles elements with the class .navber-item */
.navber-item {
  display: flex;
  justify-content: end;
  margin-right: 25px;
}

/* Styles elements with the class .navber-item and its .nav-item children */
.navber-item .nav-item {
  padding: 10px;
  /* background-color: var(--main-blue-color); */
  list-style-type: none;
  color: white;
  cursor: pointer;
}
/* =============AddItem main Form================ */
form {
  padding-bottom: 10px;
}
.addItemTitle {
  color: var(--main-blue-color);
}

/* Styles the <span> elements within .inputFields */
.inputFields span {
  color: red;
}

/* Styles the <label> elements within .inputFields */
.inputFields label {
  color: var(--main-label-color);
  font-size: 16px;
}

/* Styles elements with the class .addItem */
.addItem {
  font-size: 24px;
}
.category::-webkit-scrollbar{
display: none;
background-color: red;
}
/* Styles <div> elements within .inputFields */
.inputFields .field {
  height: 95px;
}
.inputFields .field  label{
  text-transform: uppercase;
}
.searchWrapper {
  border: 1px solid var(--main-label-color) !important;
  height: 38px;
  border-radius: 15px;
  overflow-y: scroll;
}
.searchWrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.inputFields input,
.inputFields select {
  background-color: transparent;
  border: 1px solid var(--main-label-color);
}
.inputFields input[type="file"] {
  float: left;
  border: none;
}
/* Styles for the container div */
.inputFields .imageUpload {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--main-label-color);
  width: 100%;
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

/* Styles for the label element */
.inputFields .imageUpload label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Styles for the input element */
.inputFields .imageUpload input {
  display: none;
  cursor: pointer;
}

/* Styles for the uploaded image */
.inputFields .imageUpload img {
  max-width: 10%;
  height: 50px;
}
.inputFields .faCloudArrowUp {
  font-size: 22px;
  color: var(--main-blue-color);
  cursor: pointer;
}
.submit-btn {
  background: linear-gradient(45deg, #01063d, #0012fe);
  color: var(--main-white-color);
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: var(--main-blueHover-color);
  color: var(--main-white-color);
}
select {
  -webkit-appearance: none; /* Disable default arrow for Safari */
  -moz-appearance: none; /* Disable default arrow for Firefox */
  appearance: none; /* Disable default arrow */
  overflow: hidden; /* Hide scrollbar */
}

/* =============Preview============ */

/* InputData */
.Icon_Btn {
  display: flex;
  height: 100%;
}

.sc-gswONk {
  font-weight: 600 !important;
}

/* Notification */
.notification {
  z-index: 9999;
  position: absolute;
  width: 300px;
  top: 70px;
  right: 0;
  height: 100vh;
  background-color: #bbb9b5;
}
/* multiSelect */
#search_input {
  /* background-color: transparent; */
  border: none !important;
  border: 1px solid var(--main-label-color);
}
.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0096fb;
  border-radius: 6px;
  color: #fff !important;
  /* height: 20px !important; */
}
#suppliers{
  appearance: none;
  /* overflow: hidden; */
}

.iserror {
  position: relative;
  top: -30px;
  left: 10px;
  z-index: -1;
}
/* viewDetails */
.viewDetails {
  padding: 10px 5px;
}
.viewDetails span,
b {
  background-color: #f6f6f5ce;
  padding: 5px;
}

