* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  width: 100% !important;
  /* background-color: rgb(56, 173, 173); */
  position: relative;
}

.landing {
  overflow-x: hidden;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.177);
}

/* ------------NavBar---------------- */
.navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  color: white;
  background-color: white;
  z-index: 9999;
   
}

/* logo */
.nav-logo a {
  font-size: 35px;
  font-weight: bolder;
  color: white !important;
  text-decoration: none;
}

/* .serach{
 position: fixed;
 top: 30px;
 right: 900px;
 } */
.serchItems1 {
  top: 70px;
}

.serItems {
  position: absolute;
  width: 230px;
  /* height: 100%; */
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  /* padding: 5px; */
  border-radius: 10px;
}

.serItems a {
  text-decoration: none;
  padding: 15px;
  margin: 5px;
}

.serItems a:hover {
  color: black !important;

}

.serchItems1 {
  padding: 10px;
}

.serchItems1:hover {
  background-color: #f6f6f6;
  color: black !important;
  border-radius: 10px;
  margin: 5px;
}

.cart {
  font-size: 25px;
  text-decoration: none;
  margin-top: 20px;

}

.user a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.cart .icon {
  text-decoration: none;
  margin-left: 5px;
  font-weight: 600;
  color: rgb(255, 255, 0);
}

/* Sub Menu */
.navbar-nav {
  width: 100%;
}

.subMenu {
position:fixed;
/* top: 100px !important; */
  margin-top: 100px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(30, 89, 218);


}

/* .bars{
  display: none;
} */
.subMenu ul {
  margin-top: 12px;
}

.subMenu ul li {
  color: rgb(255, 255, 255);
  display: inline-flex;
  list-style: none;
  margin: 10px 18px;
  font-size: 20px;
  font-weight: 600;
  /* width: 100%; */
  /* padding-top: 12px; */
  /* background-color: beige; */
}

.subMenu ul li:hover {
  border-bottom: 2px solid yellow;

}

/* ---------Mobile Section------------ */
.proSection {
  display: flex;
  width: 100%;
  margin-right: 15px;
 
}

.proImg {
  width: 100%;
  border: 1px solid gray;
}

.imgBox {
  margin: 5px;

}

.more {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.more button {
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;

}

/* ------landingSec ------*/
.landingSec {
  width: 99%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px gray;
 
 

}

.imgBox p,
a {
  color: black;
  text-decoration: none !important;
}

/* end */

/* pageSection */
.pageCard {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 10px;


}

.pageImg {
  width: 250px;
  /* height: 270px; */
  margin: 15px;
}

.pageImg img {
  width: 100%;
  height: 250px;
}

/* end */

/* singlepage */
.addCart {
  height: 15px;
}

.singleCard {
  margin-top: 170px;
  margin-left: 15px;
}
 
.imgCard img{
  width: 100%;
  border: 1px solid gray;
  height: 420px;
  /* background-color: red; */

}
.imgCard  .imgCard1 {
  width: 100%;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */

}

/* small cards */
.imgCard .smallImg {
  width: 100%;
  height: 100px;
 
}

.imgCard .smallImg img {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid gray;
  
}

.filtersC {
  position: fixed;
  margin: 20px !important;
  /* background-color: red; */
}

.active {
  background-color: rgb(11, 1, 1);
  padding: 23px 10px;

}

/* UseContext */
.add {
  display: flex;
  align-items: center;
  /* background-color: gray; */
  width: 100px;
  /* height: 30px; */
  font-weight: 600;


}

.add p {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;

}

.add button {
  background-color: rgba(128, 128, 128, 0.371);
  outline: 1px solid gray;


}

.cart-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  box-shadow: 1px 1px 5px 2px gray;
  margin: 15px;

}

.cart-section .cart-img {
  width: 12%;
}

.cart-section img {
  width: 100%;
}

.removeBtn {
  height: 50px;
  width: 120px;
  font-weight: 600;
  color: white;
}

/* UseC */
.cart-details {
  width: 300px;
  /* background-color: aqua; */
}

.nav-item {
  /* width: 100%; */
  /* padding: 0 !important; */
  margin: 15px !important;
  /* background-color: red; */
}

.nav-link {
  display: flex;

}

.bars {
  position: fixed;
  top: 110px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  padding: 2px 8px;
  margin-top: -10px;
  font-size: 20px;
  /* left: 350px; */
  background-color: rgb(95, 95, 25);
  display: none;


}

.bars a {
  color: white !important;

}

.logins {
  display: none;
}

.sideAdds {
  width: 100%;
  height: 500px;
  /* background-color: red; */
  overflow-x: hidden;
}
.pageSection {
  padding-top: 170px ;
}

.sideAdds .pageSection {
  width: 100%;
  height: 250px;
  display: grid !important;
  flex-wrap: wrap !important;
  margin: 0px !important;

}

.sideAdds .pageSection .pageCard,.recent-pageCard {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 0;
}
.recent-pageCard{
  margin-top: -140px;
}

.sideAdds .pageSection .pageImg {
  width: 60%;
  height: 190px;
  /* background-color: green; */
}

.sideAdds .pageSection .pageImg img {
  width: 100%;
  height: 150px;

}
.menu{
  padding-top: 180px;
}

.removeBtnX {
  display: none !important;
}
/* footer */
.footer{
  /* position: sticky; */
  top: 0px;
  /* bottom: 0; */
  width: 100%;
 padding-bottom: 10px;
  background-color: black;
  text-align: center;
  color: white;
}
.list-items{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: blue; */
}
.list-items a{
  padding: 7px;
  color: white;
  font-size: 20px;

}
.list-items a:hover{
  color: dodgerblue;
}
.apps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socail-links{
  margin-top: 30px;
  text-align: c;
}
.socail-links a{
  
  font-size: 25px !important;
  /* color: white !important; */
  /* background-color: aqua; */
}
/* .sticky{
position: sticky;
top: 1000px;
} */
/* pageNation */
.pagination{
  display: flex;
  justify-content: center;
  margin: 10px !important;

  
}
.finalCart{
  padding-top: 180px;
}
/* ------------------------477------------------------------ */
@media (max-width:477px) {

  /* header */
  .nav-logo a {
    width: 100px !important;
    /* background-color: red; */
    font-size: 25px;

  }

  .serach {
    width: 170px;
  }

  .navbar-section {
    /* display: none; */
    position: fixed;
    width: 100%;

  }

  .user {
    display: none;
  }

  .logins {
    border-bottom: 1px solid gray;
    /* border-top: 1px solid gray; */
    margin-bottom: 10px;
    /* padding-top: 60px; */
  }

  .subMenu {
    
    display: none;
    /* position: fixed; */
    height: 70px;
  }

  .subMenu ul {
    margin-top: 12px;
  }

  .menu {
    padding-top: 140px;
    width: 100%;
   
  }

  .fillter {
    display: none;
  }

  .bars {
    display: block;
    z-index: 999;
  }

  .logins {
    display: block;
  }

  .hide-show {
    display: block;
    /* position: absolute; */
    top: 28px;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    /* background-color: blue !important; */
    height: 100%;
    animation: anima 0.5s ease-in 1;
    z-index: 999;
    /* transform: translateY(-650px); */
  }

  @keyframes anima {
    0% {
      transform: translateY(-650px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .hide-show ul li {
    width: 150px;
  }

  .navbar-section {
    /* display: none; */
    position: fixed;
    width: 100% !important;
  }

  .procard {
    width: 100px;
    /* margin-left: 30px !important; */
    /* gap: 10px; */
  }

  .pageCard  {
    /* border: 1px solid green; */
    width: 100px;
    /* padding-top: 150px; */
    display: flex;
    flex-wrap: wrap;



  }
  

  .active {
    width: 100% !important;
    background-color: rgb(11, 1, 1);
    padding: 23px 10px;
  }

  .hide-show ul li {
    width: 85%;
    margin-left: 0px !important;
  }

  ol,
  ul {
    padding-left: 1rem !important;
  }

  .pageImg {
    width: 110px;
    margin: 0 !important;
    padding: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    /* height: 270px; */
    /* margin: 15px; */
  }

  .proDetails {
    width: 100%;
    /* background-color: blanchedalmond;  */
  }

  .proDetails h6 {
    text-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
  }

  .pageImg {
    /* width: 100%; */
    height: 180px;
  }

  .pageImg img {
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    /* padding: 5px; */
  }

  .pageSection .col-2 {
    /* padding-top: 150px; */
    width: 35%;
  }

  .pageSection .col-10 {
    width: 65%;
    /* background-color: aquamarine; */
  }

  /* landing */
  .proSection {
    overflow-x: hidden;
    display: flex;
    width: 100%;
    margin-right: 15px;
  }

  .proImg {
    width: 110px !important;

  }

  .imgBox p {
    font-size: 8px !important;
    margin-top: 10px;
  }

  .imgBox {
    width: 130px !important;

    /* background-color: aqua; */
  }

  .imgBox img {
    width: 100%;
    height: 120px;
  }

  /* single */
.singleCard{
 margin-top: 120px;
 padding-top: 20px;
}

  .imgCard {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    margin-top: 100px;
    /* padding: 70px; */
    border: none;
  }

  .singleCard .col-4 {
    display: none;
  }

  .productDetails {
    padding-top: 120px;
    line-height: 25px;
  }

  .productDetails button {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: 600;
  }

  .addCart {
    position: fixed;
    bottom: 60px;
    left: 70px;
    height: 30px;
    box-shadow: 2px 4px 8px rgb(40, 35, 35);
    background-color: rgb(255, 255, 255);
    z-index: 9999;


  }

  .smallImg img {
    margin-top: 20px;
    border: 1px solid gray;
  }

  /* finalCart */
  .finalCart {
  
    text-align: center;
    padding-top: 140px;
  }
  .loginCard {
    margin-left: 0px !important;
    position: relative;
    top: 50%;
    left: 15% !important;
    transform: translate(-10%, -10%);
    box-shadow: 2px 4px 8px rgb(44, 43, 43);
    height: 78%;
    width: 340px;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    /* background-color: rgba(87, 87, 92, 0.225); */
    /* overflow-y: hidden; */
  }

  .head {
    text-align: center;
  }

  .form-group label {
    display: flex;
    justify-content: start;
  }

  .sideAdds {
    width: 100% !important;
    display: block !important;
    position: absolute;
    top: 1200px;
  }
  .sideAdds h1{
    text-align: center;
  }

  .sideAdds .pageSection {
    width: 100%;
    /* background-color: red; */
  }

  .sideAdds .pageSection .pageCard {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
  }

  /* cart */
  .cart-section .cart-img {
    display: flex;
    width: 36%;
    height: 50%;
    padding-top: 10px;
  }

  .cart-section .cart-details {
    width: 64%;
  }

  .cart-section .cart-details h3 {
    font-size: 16px !important;
    width: 100%;
    /* background-color: red; */
    text-align: left;
    margin-top: 10px;

  }

  .removeBtn {
    display: none !important;
 

  }

  .removed {
    position: relative;

  }

  .removeBtnX {
    display: block !important;
    position: relative;
    top: -100px;
    right: -135px;
    z-index: 3;
  }

  .Checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 25px !important;
    padding: 20px 5px;
    z-index: 9999;
  }

  .add {
    width: 100px !important;
  }

  .add .btn {
    padding: 0px !important;
    border-radius: 0 !important;
  }

  .cart-section .price {
    position: relative;
    top: 0px;
    right: -150px;
    /* background-color: red; */
  }

  .total-price {
    width: 100%;
    /* display: flex !important; */
    /* background-color: red; */
    text-align: left;
    border: 1px solid gray;
    margin-bottom: 40px;

  }

  .total-price h1 {
    font-size: 25px;
  }

  .t-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding: 10px;

  }

  .t-price h4,
  h2 {
    font-size: 15px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .t-price h2 {
    font-size: 20px !important;
  }

  .total-price .ProductBill {
    border-bottom: 2px solid gray;
  }
}
#pause{
  display: none;
 }